@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
  overflow-x: hidden;
}





.grad{
  position: absolute;
width: 372.95px;
height: 257.05px;
left: calc(50% - 372.95px/2 - 76.53px);
top: calc(50% - 257.05px/2 - 47.47px);

/* Gradient/02 */

background: linear-gradient(123.77deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%);
opacity: 0.2;
filter: blur(34px);
transform: matrix(1, 0, -0.03, 1, 0, 0);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}


.grad2{
  position: absolute;
width: 372.95px;
height: 257.05px;
left: calc(50% - 372.95px/2 - 76.53px);
top: calc(50% - 257.05px/2 - 47.47px);

/* Gradient/05 */

background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
opacity: 0.2;
filter: blur(34px);
transform: matrix(1, 0, -0.03, 1, 0, 0);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}




.yellowButton {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(255 214 10/var(--tw-bg-opacity));
  border-radius: .375rem;
  color: rgb(0 8 20/var(--tw-text-opacity));
  cursor: pointer;
  font-weight: 600;
  padding: 8px 20px;
}
.blackButton {
  --tw-bg-opacity: 1;
  background-color: rgb(22 29 41/var(--tw-bg-opacity));
  border-radius: .375rem;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 20px;
}






.video{
  filter: drop-shadow(20px 20px 0px  rgb(255, 255, 255));
  }
  
  .videograd{
      position: absolute;
      width: 372.95px;
      height: 257.05px;
      
      
      /* Gradient/05 */
      
      background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
      opacity: 0.2;
      filter: blur(34px);
      transform: matrix(1, 0, -0.03, 1, 0, 0);
      
      /* Inside auto layout */
      
      flex: none;
      order: 0;
      flex-grow: 0;
      z-index: 0;
  
  }
  

  
.homepage_bg{
  background-image: url("./assests/Images/bghome.svg");
}